.wrapper {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding-bottom: 40px;
  animation: 2s show ease;
  margin-top: -10px;
}
.wrapperDay {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding-bottom: 40px;
  animation: 2s show ease;
  margin-top: -10px;
  background-color: white;
}
.border {
  border: 1px solid;
  width: 100vw;
}
.head {
  background-image: url("https://images.unsplash.com/photo-1517838277536-f5f99be501cd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  filter: brightness(70%);
}
.headDay {
  background-image: url("https://images.unsplash.com/photo-1517838277536-f5f99be501cd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  filter: brightness(100%);
}

.text {
  display: grid;
  justify-items: center;
  align-items: center;
  font-size: 40px;
  padding: 40px;
  backdrop-filter: blur(5px);
  border-radius: 20px;
  z-index: 10000;
}
.textDay {
  display: grid;
  justify-items: center;
  align-items: center;
  font-size: 40px;
  padding: 40px;
  backdrop-filter: blur(5px);
  border-radius: 20px;
  z-index: 10000;
}
.text :first-child {
  font-size: 80px;
}
.textDay :first-child {
  font-size: 80px;
}
.wrapper p {
  padding-bottom: 50px;
}
.wrapperDay p {
  padding-bottom: 50px;
}
.general {
  padding-top: 50px;
  display: grid;
  justify-items: center;
  justify-content: center;
}
.generalDay {
  padding-top: 50px;
  display: grid;
  justify-items: center;
  justify-content: center;
  background-color: white;
  color: black;
}

.wrapper span {
  font-size: 20px;
}
.wrapperDay span {
  font-size: 20px;
}

.onediv {
  height: 60vh;
  display: flex;
  align-items: center;
  padding: 20px;
}
.onediv img {
  padding-left: 40px;
  border-radius: 50%;
}
.twodiv {
  height: 60vh;
  display: flex;
  align-items: center;
  padding: 20px;
  padding-top: 40px;
}
.twodiv img {
  padding-right: 20px;
  border-radius: 50%;
}
.threediv {
  height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.threediv img {
  padding-left: 20px;
  border-radius: 50%;
}
.fourdiv {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.fourdiv img {
  padding-right: 20px;
  border-radius: 50%;
}
.body {
  font-size: 30px;
  width: 60vw;
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.but {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}
.but1 {
  width: 300px;
  height: 130px;
  background-color: rgb(34, 34, 34);
  border-radius: 30px;
}
.but1 a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  text-decoration: none;
}
.but2 a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  text-decoration: none;
}
.but2 {
  margin-left: 80px;
  width: 300px;
  height: 120px;
  background-color: rgb(34, 34, 34);
  border-radius: 30px;
}
.but1 :hover {
  background-color: rgb(69, 69, 69);
  border-radius: 30px;
}
.but2 :hover {
  background-color: rgb(69, 69, 69);
  border-radius: 30px;
}
.array {
  filter: invert(100%);
}
.arrayDay {
  filter: invert(0%);
}

.longArray {
  position: absolute;
  filter: invert(80%);
  top: 60vh;
}
